
  .header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0px;
  min-height: 100px;
  background-color: #5d545100;
  }
  
  nav {
    padding: 0px;
    margin: 0px;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 80%;
  }

  
  nav ul {
    list-style-type: none;
    position: relative;
    top: 1px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  
  .selection {
    cursor: pointer;
    margin: 0 1%;
    background-color: #787165;
    justify-content: flex-end;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .selection p {
    margin : 0px;
    padding : 20px 2vw;
    font-family: 'Supercell', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 2px 0px #000, 0px 2px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000;
  }

  .page-actuelle {
    background-color: #e8e8e1;
  }

  nav button{
    margin : 20px;
  }
  @font-face {
    font-family: 'Supercell';
    src: url('../../public/supercell.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Ajout du media query pour la mise en page responsive */
@media (max-width: 800px) {

  .header{
    margin-bottom: 20px;
  }

  .selection {
    border-bottom-width: 1px;
    border-radius: 10px;
  }

  nav ul{
    flex-wrap: wrap;
    align-items: space-around;
    max-width: 100vw;
  }

  .selection{
    margin : 10px;
    margin-bottom: 20px;
    width: 180px;
    text-align: center;
  }

  .selection p{
    padding: 20px;
  }
}

.footer{
  font-family: 'sans-serif';
  color: #fff;
  font-size: 12px;
  text-align: center;

}