body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.background {
  color: #333;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/bg/background2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.page-container {
  border-radius: 8px;
  margin: 0 10px;
  margin-bottom: 60px;
  min-height: 80vh;
  border: 1px solid #aaa;
  background-color: #e8e8e1;
}

.supercell-font {
  font-family: 'Supercell';
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 3px 0px #000, 0px 2px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000;
}

h1{
  font-family: 'Supercell';
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 3px 0px #000, 0px 2px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000;
  font-size: 200%;
  margin: 2%;
  text-align: center;
}