.incorrect{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: red;
}

.correct{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: green;
}

.img-check{
    padding-right: 5px;
    width: 20px;
    height: 18px;
}

.img-croix{
    padding-right: 5px;
    width: 20px;
    height: 20px;
}