.intro-text{
    font-family: 'Supercell', sans-serif;
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 3px 0px #000, 0px 3px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000;
    text-align: justify;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 1.6;

}