.container-annonce{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #666d7f;
    background-color: #8b95af;;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(87, 98, 124, 0.8);
    margin: 15px 5px;
    padding: 15px;
    width: 300px;
    min-height: 300px;
    height: fit-content;
}

.container-annonces{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 100%;
}

.page-annonce{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    width: 100%;
}

.player-townHall-container{
    display: flex;
    border-radius: 5px;
    background-color: #8b95af;

    padding: 5px;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-townHall{
    width: 70%;
    height: 70%;
    min-width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.annonce-player-trophies{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    max-width: 120px;
    height: 70%;
    min-width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.annonce-player-trophies img{
    position: relative;
    width: 90%;
    height: 90%;
    max-width: 55px;
}

.annonce-player-main-info-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}

.annonce-player-trophies-number{
    font-size: 20px;
}


.mon-annonce{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #666d7f;
    background-color: #8b95af;;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(87, 98, 124, 0.8);
    margin: 15px 5px;
    padding: 15px;
    width: 250px;
    min-height: 300px;
    height: fit-content;
}


.user-clan-embleme img{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.container-message textarea{
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #787165;
    box-shadow: inset 1px 4px 2px rgba(120, 113, 101, 0.37), inset 0px -3px 2px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    color: #787165;
    font-size: 12px;
    height: 75px;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    outline: 0;
    resize: none;
}

.container-annonce .container-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.response-player-xp{
    font-family: 'Supercell', sans-serif;
    background-image: url("../../../assets/profil/XP.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    min-width: 60px;
    height: 45px;
    font-weight: bold;
    text-shadow: 1px 3px 0px #000, 0px 3px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, -1px 0px 0px #000;

}

.rc0{
    cursor: pointer;
}

.rc1{
    margin: 5px;
    width: 5%;
    min-width: 50px;
}

.rc2{
    margin: 5px;
    width: 10%;
    min-width: 100px; 
}

.rc3{
    margin: 5px;
    width: 60%;
    min-width: 300px;
}

.rc4{
    margin: 5px;
    width: 5%;
    min-width: 50px;
}

.ml{
    margin-left: 20px;
}

.container-recrutement-accueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.rac {
    height: 400px;
    width: 40%;
    margin: 20px;
    min-width: 300px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px rgba(87, 98, 124, 0.8);
    border: 2px solid #787165;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.rac div{
    height: 150px;
}

.img-illustration{
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 100%;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}